body {
    background-image: url(./2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    margin: 0%;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 99dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
}